body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.SelectedItems {
  flex: 0 0 auto;
  position: relative;
  z-index: 1;
  padding: 16px 30px 6px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 13px;
}

.SelectedItems__title {
  margin: 0 0 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.SelectedItems__empty {
  color: #999;
  padding: 0.2em 0;
}

.SelectedItems__wrap {
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  padding-bottom: 10px;
}

.SelectedItems__item {
  display: inline-block;
  padding: 0.2em 0.5em;
  background-color: #eee;
  border-radius: 3px;
}

.SelectedItems__item + .SelectedItems__item {
  margin-left: 0.5em;
}

.List {
  flex: 1;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 18px 16px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 60px;
  grid-gap: 16px;
  border-bottom: 16px solid transparent;
}

.List__item {
  line-height: 60px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: 0 1em;
  user-select: none;
  transition: transform 100ms ease, border-radius 100ms ease;
}

.List__item span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform 250ms ease;
}

.List__item::before {
  background-color: #cb0000;
  border-radius: 50px;
  color: #fff;
  content: "✓";
  display: block;
  font-size: 12px;
  height: 16px;
  line-height: 1.4;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(30%, -30%);
  width: 16px;
  opacity: 0;
}

.List__item:hover {
  border-radius: 3px;
  box-shadow: 0 0 2px 2px #cb0000;
  transform: rotate(1deg) scale(1.05);
}

.List__item:hover span {
  transform: scale(1.2);
}

.List__item[data-selected="true"] {
  border-radius: 3px;
  box-shadow: 0 0 2px 2px #cb0000;
  position: relative;
}

.List__item[data-selected="true"]::before {
  opacity: 1;
}

/* Taken from https://clrs.cc/ */

.List__item--navy {
  background-color: #001f3f;
}

.List__item--blue {
  background-color: #0074d9;
}

.List__item--aqua {
  background-color: #7fdbff;
}

.List__item--teal {
  background-color: #39cccc;
}

.List__item--olive {
  background-color: #3d9970;
}

.List__item--green {
  background-color: #2ecc40;
}

.List__item--lime {
  background-color: #01ff70;
}

.List__item--yellow {
  background-color: #ffdc00;
}

.List__item--orange {
  background-color: #ff851b;
}

.List__item--red {
  background-color: #ff4136;
}

.List__item--maroon {
  background-color: #85144b;
}

.List__item--fuchsia {
  background-color: #f012be;
}

.List__item--purple {
  background-color: #b10dc9;
}

.List__item--black {
  background-color: #111111;
}

.List__item--gray {
  background-color: #aaaaaa;
}

.List__item--silver {
  background-color: #dddddd;
}
